@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Kalam:wght@400&display=swap');

// Colors
$primary: #243751;

$gray-200: #e9ecef !default;
$light: $gray-200;

// Typography
$font-family-sans-serif: 'Lato', -apple-system, sans-serif;
$font-size-base: 1.125rem;

// Other

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$border-radius-xxl: 0;
$border-radius-pill: 0;

@import 'bootstrap/scss/bootstrap';

// Custom styles
// @import 'icon-list';

.blb-nav-toggle {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.blb-hero {
  padding-top: 7rem;
  min-height: 75vh;
  display: flex;
  align-items: center;
  // background-image: linear-gradient(
  //     to right,
  //     rgba($primary, 0.93),
  //     rgba($primary, 0.93)
  //   ),
  //   url('../images/nubelson-fernandes-UcYBL5V0xWQ-unsplash.jpg');
  // background-position: center;
  // background-size: cover;
}

.blb-hero-content {
}

.blb-hero-content,
.about-content,
.contact-content {
  max-width: 45rem;
  margin-inline: auto;
}

.blb-me-img {
  width: min(100%, 15rem);
  display: inline;
  position: relative;
  margin: 5px;
  // border: 0.25rem solid $light;
}

.blb-me-img-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .blb-me-img {
    width: min(100%, 20rem);
    border: 0;
  }

  .blb-me-img-container::before {
    content: '';
    position: absolute;
    border: 0.25rem solid $light;
    border-radius: 2px;
    width: min(100%, 20rem);
    height: 100%;
    top: 1.5rem;
    left: 1.5rem;
  }
}

.blb-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  scroll-margin-top: 3rem;
}

.blb-tech-card {
  img {
    max-width: 3rem;
  }
}

// .blb-icons {
//   color: red;
// }

i[class^='fa'] {
  color: $light;
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  .project img {
    height: 18rem;
    object-fit: cover;
    object-position: top;
  }
}

.hello {
  font-family: 'Kalam';
  font-size: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hello {
    text-align: left;
    font-size: 4rem;
  }
}
